<a href="https://colab.research.google.com/github/VivianeSouza923/PyRevive/blob/main/04_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Essencial para Data Science**
**Prof. Dr. Samuel Martins (@hisamuka @xavecoding)** <br/>
xavecoding: https://youtube.com/c/xavecoding <br/><br/>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

## Loops
Antes de definirmos os *laços de repetição em Python (loops)*, vamos ver como definimos intervalos no Python:

### Gerando intervalos com a função `range()`
Um dos exemplos mais comuns de loops é iterar para um dado **intervalo de valores**.

Suponha que desejamos codificar um loop que itere de 0 até n-1, onde o parâmetro *n* é definido pelo usuário. <br/>
Em linguagem C, teríamos algo como:
<code>
for (int i = 0; i < n; i++) {
    ...
}
</code>
    
Em *Python*, podemos gerar intervalos de valores muito mais fácil, apenas utilizando o comando `range()`, que possui a assinatura: <br/>
`range(start, end, step)`.

#### Entendendo os índices de um Intervalo
Um intervalo em python sempre **inclui** o número passado como **limite inferior** e *exclui* o número do *limite superior* do intervalo.

P. ex., o intervalo definido pelos números `10 15` corresponde, na verdade, ao intervalo [10, 15), ou seja, [10, 11, 12, 13, 14]

#### Gerando um intervalo de 0..n-1
Se passarmos apenas **um valor/parâmetro** para a função `range()`, a mesma retorna um intervalor de 0 até o valor -1.

In [1]:
# gera um intervalo [0, 10), com step=1, onde o 10 não está incluso na lista de valores do intervalo --> [ - INCLUI, ) - EXCLUI
# ou seja, teremos os números de 0 a 9
range(10)

range(0, 10)

In [2]:
range(16) # segundo o que vimos, vai de 0 até 16. Isso pq informamos apenas 1 valor, então automaticamente ele é considerado o limite (end) e o start vai começar em zero.

range(0, 16)

In [4]:
# o tipo da função range() é range mesmo
type(range(10))

range

Note que o retorno é um `range(0, 10)`. Internamente, este tipo é uma _lista_ contendo todos os números do intervalo. <br/>
Para termos acesso a tal lista explicitamente, precisamos converter o range em uma **`list`**:

In [8]:
# converte o intervalo range(0, 10) na lista de números do intervalo
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(16))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

#### Gerando um intervalo de Inicio até Fim-1
Podemos querer alterar o valor **inicial** do intervalo, que é 0 por padrão. Para isso, devemos passar 2 parâmetros para o `range()`, sendo o primeiro deles o limite inferior (incluso) do intervalo (_lower bound_) e o segundo é o limite superior (excluso) do intevarlo (_upper bound_):

In [10]:
range(11, 21)  # gera o intervalo de números [11, 21) ==> números de 11 a 21, sendo que o 21 é exclusivo (ou seja, é mostrado até o número 20)

range(11, 21)

In [11]:
range(6, 26)

range(6, 26)

In [12]:
list(range(11, 21))

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### Especificando o passo do intervalo
Por padrão, os intervalos fornecem números sequenciais, ou seja, com **passo/incremento** igual a 1. <br/>
Podemos alterar tal **passo**. Para isso, basta passarmos um terceiro parâmetro no `range()`

In [13]:
range(11, 21, 2)  # ==> for (int i = 11; i < 21; i += 2)

range(11, 21, 2)

In [16]:
range(6, 21, 3) # aqui começa no 6 e vai de 3 em 3 até chegar no limite que é 21 (veja bem que como é de 3 em 3, ele vai o mais longe possível, dentro do limite)

range(6, 21, 3)

In [17]:
list(range(11, 21, 2))

[11, 13, 15, 17, 19]

In [18]:
list(range(6, 21, 3))

[6, 9, 12, 15, 18]

In [19]:
# outro exemplo
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

### `for`
O esqueleto de um for-loop é:
<code>
for i in collection:
    Instruction 01
    Instruction 02
    ...
</code><br/>

onde _collection_ é uma coleção de valores que será iterado. <br/>
No esqueleto acima, a cada iteração, a variável `i` terá um valor da _collection_.

A _collection_ pode ser, por exemplo, um `range()` ou uma `list`:

In [20]:
# para cada i de 0 a 9
# ele vai percorrer cada item dessa range/lista, usando i como referÊncia
for i in range(10):
  # e cada iteração fará isso
    print(f'i = {i}')

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9

In [21]:
for i in range (25):
  print(f'i = {i}')

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9
i = 10
i = 11
i = 12
i = 13
i = 14
i = 15
i = 16
i = 17
i = 18
i = 19
i = 20
i = 21
i = 22
i = 23
i = 24

In [22]:
# para cada elemento par no intervalo de [12, 21)
for num in range(12, 21, 2):
    print(f'num = {num}')

num = 12
num = 14
num = 16
num = 18
num = 20

In [23]:
for a in range(6, 38, 4):
  print(f'a = {a}')

a = 6
a = 10
a = 14
a = 18
a = 22
a = 26
a = 30
a = 34

In [24]:
lista_de_pares = list(range(12, 21, 2))
lista_de_pares

[12, 14, 16, 18, 20]

In [25]:
# para cada elemento da lista `lista_de_pares`
for num in lista_de_pares:
    print(f'num = {num}')

num = 12
num = 14
num = 16
num = 18
num = 20

### While
<code>
while condition:
    Instruction 01
    Instruction 02
    ...
</code>

In [26]:
# cria e inicializa a variável
i = 0

# enquanto essa variável for menor que 10:
while i < 10:
    # faça isso
    print(f'i = {i}')
    # e incremente essa variável
    i += 1

# ao incrementar, ela vai voltar para verificar se i<10 e fazer de novo essas ações (sendo a condição true). é um loop.

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9

In [29]:
# exemplo de decremento
i = 32


while i >= 0:
  print(f'i = {i}')
  i -= 1

i = 32
i = 31
i = 30
i = 29
i = 28
i = 27
i = 26
i = 25
i = 24
i = 23
i = 22
i = 21
i = 20
i = 19
i = 18
i = 17
i = 16
i = 15
i = 14
i = 13
i = 12
i = 11
i = 10
i = 9
i = 8
i = 7
i = 6
i = 5
i = 4
i = 3
i = 2
i = 1
i = 0

In [30]:
# utilizando condições booleanas em while
i = 0
j = 0

# isso pode ser feito, sem problema algum. Ligar duas condições através de um operador booleano, transformando tudo em uma única condição (no final, é isso)
while i < 10 and j < 5:
    print(f'i = {i}')
    print(f'j = {j}')
    i += 1
    j += 1

i = 0
j = 0
i = 1
j = 1
i = 2
j = 2
i = 3
j = 3
i = 4
j = 4

In [35]:
# decremento

i = 20
b = 14

while b >= 0 or i >= 0:
  print(f'i = {i}')
  print(f'b = {b}')

  i -= 1
  b -= 1

i = 20
b = 14
i = 19
b = 13
i = 18
b = 12
i = 17
b = 11
i = 16
b = 10
i = 15
b = 9
i = 14
b = 8
i = 13
b = 7
i = 12
b = 6
i = 11
b = 5
i = 10
b = 4
i = 9
b = 3
i = 8
b = 2
i = 7
b = 1
i = 6
b = 0
i = 5
b = -1
i = 4
b = -2
i = 3
b = -3
i = 2
b = -4
i = 1
b = -5
i = 0
b = -6