<a href="https://colab.research.google.com/github/VivianeSouza923/PyRevive/blob/main/05_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Essencial para Data Science**
**Prof. Dr. Samuel Martins (@hisamuka @xavecoding)** <br/>
xavecoding: https://youtube.com/c/xavecoding <br/><br/>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

## Lists
Uma lista em Python representa uma **sequência de elementos _ordenados_**.

In [1]:
# criar uma lista em Python é simples, basta botar os elementos dentro de colchetes e atribui-lo a uma variável
# nome_Da_variavel = [elemento1, elemento2, ..., elementon]
numeros_da_mega_sena = [20, 11, 60, 5, 44, 28]
# isso aqui print como lista mesmo, dentro de colchetes
numeros_da_mega_sena

[20, 11, 60, 5, 44, 28]

In [2]:
# ao verificarmos o tipo da variavel que usamos para receber a lista, vemos que ela é do tipo "list", normal
type(numeros_da_mega_sena)

list

A **ordenação** dos elementos refere-se a seus _posicionamentos_ na lista, ou seja, o primeiro elemento da lista é o 20, o segundo é o 11, e assim por diante. <br/>
A **ordem** dos valores/conteúdos é outra coisa.

In [3]:
# os índices da lista começam em 0 e vão até n-1, onde n é o número de elementos da lista (tamanho da lista)
#nome_da_variavel[numero_da_posição_que_quero]
numeros_da_mega_sena[3]

5

#### Listas vazias

In [4]:
# para criar listas vazias, basta atribuir um par de colchetes a uma variável. Como é vazio, não precisa colocar nada dentro dos colchetes.
lista_vazia_1 = []
lista_vazia_1

[]

In [5]:
# outra opção é usando a função list, só atribuir list() a uma variável
lista_vazia_2 = list()
lista_vazia_2

[]

#### Listas podem ter elementos de _qualquer tipo_

In [6]:
# elementos do tipo String
planetas = ['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']
planetas

['Mercúrio',
 'Vênus',
 'Terra',
 'Marte',
 'Júpiter',
 'Saturno',
 'Urano',
 'Netuno']

In [7]:
# printando a lista
print(planetas)

['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

#### Listas podem elementos de  _tipos diferentes_:

In [8]:
# lista mesclando elementos do tipo String, do tipo int e do tipo float
planetas_e_numeros = ['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno', 1, 2, 3.0]
planetas_e_numeros

['Mercúrio',
 'Vênus',
 'Terra',
 'Marte',
 'Júpiter',
 'Saturno',
 'Urano',
 'Netuno',
 1,
 2,
 3.0]

#### Podemos ter listas de listas

In [9]:
# aqui eu tenho uma lista que tem 4 listas dentro
matriz = [
    [1, 2, 3],    # [0] ==> primeira linha da matriz
    [4, 5, 6],    # [1] ==> segunda linha da matriz
    [7, 8, 9],    # [2] ==> terceira linha da matriz
    [10, 11, 12]  # [3] ==> quarta linha da matriz
]

In [10]:
# mostrando a lista como um todo
matriz

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [11]:
# mostrando o índice 0 da lista, o primeiro elemento. Ora, se é uma lista de listas, o primeiro elemento (assim como os outros) tem que que ser uma lista, certo?
matriz[0]  # imprime a primeira linha da matriz

[1, 2, 3]

In [12]:
# o tipo de uma lista de listas será "list", do mesmo jeito
type(matriz)

list

In [13]:
# tipo da lista que tem dentro da lista. Não tem como ser de outro tipo, já que é uma lista normal, certo?
type(matriz[0])

list

In [14]:
# trecho de código que imprime a matriz de um jeito mais "bonitinho"
for linha in matriz:
    print(linha)  # linha é uma lista de elementos

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10, 11, 12]

In [15]:
# para acessar um elemento de uma lista da lista (matriz)
#nome_da_matriz[linha][coluna]
matriz[1][2]  # arcessa o elemento que está na linha 1, coluna 2 da matriz

6

### Indexação

Cada elemento de uma lista é indexado a uma posição. <br/>
Podemos acessar um elemento passando seu índice com []:

In [16]:
print(planetas)

['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

In [17]:
# primeiro elemento da lista planetas
planetas[0]

'Mercúrio'

In [18]:
# terceiro elemento da lista planetas
planetas[2]

'Terra'

In [19]:
# checa o tamanho da lista (o número de elementos da lista)
len(planetas)

8

In [20]:
# o oitavo elemento da lista
planetas[7]

'Netuno'

In [21]:
# aqui vai dar erro porque a lista não tem 9 elementos, somente 8.
planetas[8]

IndexError: ignored

Listas em Python suportam **índices negativos**, cuja ordem de indexação é o contrário, começando do final para o início:

In [22]:
# o -1 será o último elemento da lista
planetas[-1]  # acessando o último elemento da lista

'Netuno'

In [23]:
planetas[-2]  # acessando o penúltimo elemento da lista

'Urano'

Podemos também acessar o _último elemento_ da lista desta maneira:

In [24]:
# tamanho da lista
len(planetas)

8

In [25]:
# índice = tamanho da lista - 1
planetas[len(planetas) - 1]

'Netuno'

Inline-style:
![](https://github.com/VivianeSouza923/PyRevive/blob/main/imagens/exemplo_lista_indices.png?raw=1)

### Slicing (fatiamento)
Podemos retornar **uma cópia** dos elementos de um **intervalo contínuo** de uma lista.

In [26]:
# Quais são os 3 primeiros elementos (planetas) da nossa lista?
planetas[0:3]  # 0:3 ==> gera o intervalo [0, 3) ===> [0, 1, 2]

['Mercúrio', 'Vênus', 'Terra']

`planetas[0:3]` é nosso jeito de consultar os elementos da lista `planetas` do índice 0 até o índice 3 (sem incluí-lo).

#### Entendendo os índices de um Intervalo
Um intervalo em python sempre **inclui** o número passado como **limite inferior** e *exclui* o número do *limite superior* do intervalo.

`[10:15]` são os números do intervalo [10, 15), ou seja, [10, 11, 12, 13, 14]

#### De volta ao slicing

Os índices iniciais e finais do intervalo do _slicing_ são **opcionais**.

Se não informarmos o _índice inicial_, o valor 0 é assumido:

In [27]:
print(planetas)

['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

In [28]:
# Quais são os 3 primeiros elementos (planetas) da nossa lista?
planetas[:3]  # retorna os elements do intervalo [0, 3) ==> [0, 1, 2]

['Mercúrio', 'Vênus', 'Terra']

Se ignorarmos o _índice final_, é assumido o _tamanho da lista_ `len(lista)`:

In [29]:
# retorna todos os elementos do intervalo [3, len(planetas)) ==> 3, 4, 5, 6, 7
# outra forma de pensar, considera todos os elementos da lista a partir do índice [3] em diante
planetas[3:]

['Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

Podemos também fazer o slicing com **índices negativos**:

In [30]:
# 1:-1 ==> [1, -1) ==> [1, len(planetas)-1) ==> [1, 7)
planetas[1:-1]

['Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano']

`planetas[1:-1]` considera o intervalo que vai do índice [1], o **incluindo**, até o índice [-1] ou [len(planetas) - 1], no exemplo é o índice [7], o **excluindo**. <br/>
Portanto, o intervalo retornado contém os índices [1, 2, 3, 4, 5, 6].

<br/>

Outro exemplo:

In [31]:
print(planetas)

['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

In [32]:
# vai do -3 até o final da lista
planetas[-3:]

['Saturno', 'Urano', 'Netuno']

Vamos entender o intervalo `[-3:]`.

O índice `[-3]` corresponde ao índice `[len(planetas) - 3]`, ou seja, o índice `[5]`. <br/>
Portanto, `[-3:]` é sinônonimo de `[5:]`.

Ao omitir o último índice do intervalo, consideramos por padrão `len(planetas)`, que é 8. <br/>
Logo, `[-3:]` é o mesmo que `[5:8]`, que resulta nos índices `[5, 6, 7]`, que são os índices dos 3 últimos elementos dessa lista.

#### Os elementos retornados pelo Slicing de Listas a uma variável são CÓPIAS

In [33]:
ultimos_planetas = planetas[-3:]
print(ultimos_planetas)
print(planetas)

['Saturno', 'Urano', 'Netuno']
['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

In [34]:
# substituindo o primeiro elemento da lista por outro
ultimos_planetas[0] = 'Brasil'
print(ultimos_planetas)
print(planetas)

['Brasil', 'Urano', 'Netuno']
['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

#### Alteração de Múltiplos elementos de uma Lista via Slicing

In [35]:
print(planetas)

['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

In [36]:
# planetas[-3] = 'Brasil'
# planetas[-2] = 'Holanda'
# planetas[-1] = 'Italia'
# isso acima seria a primeira opção e a que a gente pensa primeiro, só que adiciona os elementos 1 por 1

## alternativamente
planetas[-3:] = ['Brasil', 'Holanda', 'Italia']
print(planetas)

['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Brasil', 'Holanda', 'Italia']

<br/>

Se o **número de elementos atribuídos for DIFERENTE do número de elementos do slicing**, os elementes excedentos ou faltantes da lista são ignorados ===> TOME CUIDADO

In [37]:
# o intervalo 1 a 4 é vênus, terra e marte, mas ele foi substituído por somente Japão
planetas[1:4] = ['Japão']
print(planetas)

['Mercúrio', 'Japão', 'Júpiter', 'Brasil', 'Holanda', 'Italia']

### For-each em Listas
Como mostrado no notebook anterior, podemos iterar elementos em uma lista:

In [38]:
planetas = ['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']
planetas

['Mercúrio',
 'Vênus',
 'Terra',
 'Marte',
 'Júpiter',
 'Saturno',
 'Urano',
 'Netuno']

In [39]:
for planeta in planetas:
    print(f'planeta = {planeta}')

planeta = Mercúrio
planeta = Vênus
planeta = Terra
planeta = Marte
planeta = Júpiter
planeta = Saturno
planeta = Urano
planeta = Netuno

In [40]:
# queremos iterar no intervalo [1, 4)
for planeta in planetas[1:4]:
    print(f'planeta = {planeta}')

planeta = Vênus
planeta = Terra
planeta = Marte

No `for`, podemos também recuperar o **índice** e o *elemento* de uma lista, basta usarmos o comando `enumerate`:

<code>
    for i, elemento in enumerate(lista):
        intrução 01
        ....
</code>

In [41]:
for i, plan in enumerate(planetas):
    print(f'planeta[{i}] = {plan}, {planetas[i]}')

planeta[0] = Mercúrio, Mercúrio
planeta[1] = Vênus, Vênus
planeta[2] = Terra, Terra
planeta[3] = Marte, Marte
planeta[4] = Júpiter, Júpiter
planeta[5] = Saturno, Saturno
planeta[6] = Urano, Urano
planeta[7] = Netuno, Netuno

In [42]:
# planetas[1:4] ==> gera uma nova lista com os elementos dos índice 1, 2, 3 da lista planetas
# os elementos desta nova lista estão indexados a partir do 0

for i, plan in enumerate(planetas[1:4]):
    print(f'planeta[{i}] = {plan}')

planeta[0] = Vênus
planeta[1] = Terra
planeta[2] = Marte

In [43]:
for i in range(1, 4): # lembrando que o 4 é exclusivo
    print(f'planeta[{i}] = {planetas[i]}')

planeta[1] = Vênus
planeta[2] = Terra
planeta[3] = Marte

### Funções de Listas

In [44]:
print(planetas)

['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

`len` retorna o tamanho de uma lista (número de elementos)

In [45]:
len(planetas)

8

`min` retorna o menor elemento de uma lista

In [46]:
lista_de_numeros = [10, 5, 20, 2]
min(lista_de_numeros)

2

In [47]:
# no caso de uma lista de strings, retorna o 'menor' elemento em ordem alfabética
min(planetas)

'Júpiter'

`max` retorna o maior elemento de uma lista

In [48]:
max(lista_de_numeros)

20

In [49]:
# no caso de uma lista de strings, retorna o 'maior' elemento em ordem alfabética
max(planetas)

'Vênus'

`sum` retorna a soma de elementos de uma lista

In [50]:
# soma = 0
# for num in lista_de_numeros:
#     soma += num

## alternativamente
sum(lista_de_numeros)

37

### Métodos de Listas

`list.append` modifica uma lista adicionando um item (de qualquer tipo) no final.

In [51]:
print(planetas)

['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

In [52]:
# a função append adiciona o item ao final da lista desejada
# lista.append('item que quero add')
planetas.append('Plutão')
print(planetas)

['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno', 'Plutão']

`list.pop` remove e retorna o último elemento da lista:

In [53]:
ultimo_planeta = planetas.pop()
print(ultimo_planeta)
print(planetas)

Plutão
['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

In [54]:
# quando passado um argumento à função, ele remove de acordo com a posição dele
segundo_planeta = planetas.pop(1)
print(segundo_planeta)
print(planetas)

Vênus
['Mercúrio', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

`reverse` reverte a ordem dos elementos da lista.

In [55]:
planetas = ['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']
print(planetas)

['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

In [56]:
planetas.reverse()  # reverte os elementos da lista planeta (in place, ou seja, reverte a própria lista)
print(planetas)

['Netuno', 'Urano', 'Saturno', 'Júpiter', 'Marte', 'Terra', 'Vênus', 'Mercúrio']

O possível problema é que a **própria lista** é revertida. <br>
Caso você deseje ter uma **cópia revertida** da lista:

In [ ]:
planetas = ['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']
print(planetas)

['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

In [57]:
planetas_revertidos = list(planetas)  # faz uma cópia da lista de planetas
planetas_revertidos.reverse()

print(planetas)
print(planetas_revertidos)

['Netuno', 'Urano', 'Saturno', 'Júpiter', 'Marte', 'Terra', 'Vênus', 'Mercúrio']
['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']

#### Ordenação de listas

`sorted` retorna uma versão **ordernada (em ordem crescente)** de uma lista (NÃO ALTERA A LISTA ATUAL)

In [58]:
lista_de_numeros

[10, 5, 20, 2]

In [59]:
lista_de_numeros_ordenada = sorted(lista_de_numeros)

print(lista_de_numeros)
print(lista_de_numeros_ordenada)

[10, 5, 20, 2]
[2, 5, 10, 20]

In [60]:
planetas_ordem_alfabetica = sorted(planetas)

print(planetas)
print(planetas_ordem_alfabetica)

['Netuno', 'Urano', 'Saturno', 'Júpiter', 'Marte', 'Terra', 'Vênus', 'Mercúrio']
['Júpiter', 'Marte', 'Mercúrio', 'Netuno', 'Saturno', 'Terra', 'Urano', 'Vênus']

##### Para ordernar em **ordem descrente**

In [61]:
lista_de_numeros_ordem_reversa = sorted(lista_de_numeros)  # ordena em ordem crescente
lista_de_numeros_ordem_reversa.reverse()

print(f'lista_de_numeros = {lista_de_numeros}')
print(f'lista_de_numeros_ordenada = {lista_de_numeros_ordenada}')
print(f'lista_de_numeros_ordem_reversa = {lista_de_numeros_ordem_reversa}')

lista_de_numeros = [10, 5, 20, 2]
lista_de_numeros_ordenada = [2, 5, 10, 20]
lista_de_numeros_ordem_reversa = [20, 10, 5, 2]

In [62]:
planetas_ordem_alfabetica_reversa = sorted(planetas)
planetas_ordem_alfabetica_reversa.reverse()

print(f'planetas = {planetas}')
print(f'planetas_ordem_alfabetica = {planetas_ordem_alfabetica}')
print(f'planetas_ordem_alfabetica_reversa = {planetas_ordem_alfabetica_reversa}')

planetas = ['Netuno', 'Urano', 'Saturno', 'Júpiter', 'Marte', 'Terra', 'Vênus', 'Mercúrio']
planetas_ordem_alfabetica = ['Júpiter', 'Marte', 'Mercúrio', 'Netuno', 'Saturno', 'Terra', 'Urano', 'Vênus']
planetas_ordem_alfabetica_reversa = ['Vênus', 'Urano', 'Terra', 'Saturno', 'Netuno', 'Mercúrio', 'Marte', 'Júpiter']

#### Buscando elementos em uma lista

`list.index` retorna o índice de um dado elemento da lista, ou lança uma exception caso ele não esteja presente na lista.

In [63]:
print(planetas)

['Netuno', 'Urano', 'Saturno', 'Júpiter', 'Marte', 'Terra', 'Vênus', 'Mercúrio']

In [64]:
# qual é o índice do elemento 'Marte'?
planetas.index('Marte')

4

In [65]:
# qual é o índice do elemento 'Brasil'? ==> lançar (raise) exception
planetas.index('Brasil')

ValueError: ignored

Outra alternativa melhor para saber se **uma lista contém ou não um dado elemento**, sem o lançamento de exception, é usar o `in`:

In [66]:
'Marte' in planetas

True

In [67]:
'Brasil' in planetas

False

Podemos ainda usar o `not in` para checar se a lista **não possui um dado elemento**:

In [68]:
'Brasil' not in planetas

True

#### Concatenando listas
Suponha que desejamos juntar/concatenar duas listas em uma só. <br/>
Podemos tentar usar o método `append`, pois ele adiciona um dado elemento ao final da lista.
Vejamos:

In [69]:
cidades_grande_sp = ['São Paulo', 'Santo André', 'São Bernardo', 'São Caetano']
cidades_interior_sp = ['Pompéia', 'Campinas', 'Hortolândia']

print(cidades_grande_sp)
print(cidades_interior_sp)

['São Paulo', 'Santo André', 'São Bernardo', 'São Caetano']
['Pompéia', 'Campinas', 'Hortolândia']

In [70]:
# ALTERNATIVA 1
cidades_estado_sp = cidades_grande_sp + cidades_interior_sp
print(cidades_estado_sp)

['São Paulo', 'Santo André', 'São Bernardo', 'São Caetano', 'Pompéia', 'Campinas', 'Hortolândia']

In [71]:
# ALTERNATIVA 2 ==> NÃO FUNCIONA COMO ESPERADO
cidades_estado_sp = list(cidades_grande_sp)  # copia a cidades_grande_sp
cidades_estado_sp.append(cidades_interior_sp)

In [72]:
print(cidades_estado_sp)

['São Paulo', 'Santo André', 'São Bernardo', 'São Caetano', ['Pompéia', 'Campinas', 'Hortolândia']]

Note que a a lista `cidades_estado_sp` tem agora alguns elementos que são _strings_, e o último elemento é uma _lista_. <br/>
O que queremos, na verdade, é ter uma lista **apenas com _strings_**.

Para isso, podemo usar o método `lista.extend(lista_2)` que vai copiar todos os elementos dentro da lista `lista_2` e colocá-los no final da lista `lista`.

In [74]:
# ALTERNATIVA 3
cidades_estado_sp = list(cidades_grande_sp)  # copia a cidades_grande_sp
cidades_estado_sp.extend(cidades_interior_sp) # é tipo o conceito de herança de OO, lembra?

In [75]:
print(cidades_estado_sp)

['São Paulo', 'Santo André', 'São Bernardo', 'São Caetano', 'Pompéia', 'Campinas', 'Hortolândia']

### List Comprehensions
É uma forma curta de se criar listas.

**Ex 1)** Suponha que queremos criar uma lista cujo valor do índice [i] é i^2 (o índice ao quadrado). <br/>
Uma forma padrão seria:

In [76]:
# [0, 1, 4, 9, ...]

quadrados = []

for i in range(10):
    quadrados.append(i ** 2)

print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
quadrados = list(range(10))
print(f'ANTES: {quadrados}')


for i, num in enumerate(quadrados):
    quadrados[i] = num ** 2

print(f'DEPOIS: {quadrados}')

ANTES: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
DEPOIS: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Usando o **list comprehensions**:

In [78]:
quadrados = [i**2 for i in range(10)]
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**Ex 2)** Filtrando os elementos negativos de uma lista:

In [79]:
lista_de_numeros = [10, -2, 25, -5, 99, 1]

# ALTERNATIVA 1
lista_de_numeros_positivos = []
for num in lista_de_numeros:
    if num >= 0:
        lista_de_numeros_positivos.append(num)

print(lista_de_numeros_positivos)

[10, 25, 99, 1]

In [80]:
lista_de_numeros = [10, -2, 25, -5, 99, 1]

# ALTERNATIVA 2
lista_de_numeros_positivos = [num for num in lista_de_numeros if num >= 0]
print(lista_de_numeros_positivos)

[10, 25, 99, 1]

Outra maneira de aplicar funções a listas é usar **lambda functions**.

**Ex 3) Map e Lambda functions**:

In [81]:
lista_de_numeros = list(range(10))
print(lista_de_numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
def power_of_2(x):
    return x ** 2

In [85]:
# A função map() é útil para aplicar uma operação a todos os elementos de uma coleção de dados sem a necessidade de escrever um loop explícito.
quadrados = list(map(power_of_2, lista_de_numeros))
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**Lambda fuction**: Funções anônimas que podem receber qualquer número de parâmetros mas **pode apenas ter UMA única expressão**.

In [86]:
# lambda argumentos: expressao --> são funções que eu posso fazer localmente ali, sem precisar de outro bloco de código fazendo um "def". Claro que, essas funções são simples.
quadrados_2 = list(map(lambda x: x ** 2, lista_de_numeros))
print(quadrados_2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]