<a href="https://colab.research.google.com/github/VivianeSouza923/PyRevive/blob/main/07_tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Essencial para Data Science**
**Prof. Dr. Samuel Martins (@hisamuka @xavecoding)** <br/>
xavecoding: https://youtube.com/c/xavecoding <br/><br/>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

## Tuplas
Tuplas são estruturas muito semelhantes às listas. Elas diferem de duas maneiras:

1. Elas usam _parênteses_ ao invés de _colchetes_:

In [1]:
# então, isso é uma tupla, de cara, n dá para confundir com uma lista.
# tá recebendo 3 elementos dentro de 1 parênteses
tupla_1 = (1, 2, 3)
tupla_1

(1, 2, 3)

In [3]:
# qual o tipo desse elemento chamado tupla_1? só usar o type()
print(type(tupla_1))

<class 'tuple'>

In [6]:
# só que a tupla é desobrigada a usar parênteses. é opcional.
tupla_2 = 1, 2, 3
tupla_2

(1, 2, 3)

In [5]:
a = 4, 5, 6
a

(4, 5, 6)

In [7]:
print(tupla_2)
print(type(tupla_2))

(1, 2, 3)
<class 'tuple'>

In [8]:
# relembrando atribuição múltiplca
x, y, z = 1, 2, 3
print(x)
print(y)
print(z)

1
2
3

In [9]:
a, b, c = tupla_1  # "desempacota" os elementos da tupla `tupla_1` nas variávels a, b, c
print(a)
print(b)
print(c)

1
2
3

2. Elas **não** podem ser modificadas (**imutáveis**)

In [10]:
tupla_1

(1, 2, 3)

In [13]:
# isso é impossível e dará erro. Pq? pq tuplas são imutáveis, é diferente das listas
tupla_1[0] = 10

TypeError: 'tuple' object does not support item assignment

#### Convertendo uma lista em tuplas e vice-versa

In [14]:
# aqui eu tenho uma lista. está sendo atribuída por colchetes
planetas = ['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']
print(planetas)
# mostra o tipo de planetas
print(type(planetas))

['Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']
<class 'list'>

In [15]:
# JÁ AQUI É UMA TUPLA. ESTOU TRANSFORMANDO PLANETAS, QUE É UMA LISTA, EM UMA TUPLA ATRAVÉS DA FUNÇÃO TUPLE(AQUI_O_NOME_DA_LISTA)
planetas_tupla = tuple(planetas)
print(planetas_tupla)
print(type(planetas_tupla))

('Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno')
<class 'tuple'>

In [17]:
# AQUI EU VOU FAZER UMA MODIFICAÇÃO, POIS POSSO, JÁ QUE PLANETAS É UMA LISTA. É INTERESSANTE LEMBRAR QUE ISSO N]AO IRÁ ALTERAR A TUPLA
planetas[0] = planetas[0].upper()
print(planetas)
print(planetas_tupla)

['MERCÚRIO', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno']
('Mercúrio', 'Vênus', 'Terra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Netuno')

In [18]:
# O NEGÓCIO FICA DIFERENTE QUANDO EU TENTO FAZER UMA MODIFICAÇÃO IGUAL NA TUPLA, POIS TUPLA É IMUTÁVEL.
planetas_tupla[0] = planetas_tupla[0].upper()
print(planetas)
print(planetas_tupla)

TypeError: 'tuple' object does not support item assignment

In [20]:
# converter uma tupla para uma lista - BASTA APENAS USAR A FUNÇÃO LIST() E PÔR DENTRO DESSES PARÊNTESES O NOME DA TUPLA
lista_1 = list(tupla_1)
print(lista_1)
print(tupla_1)

[1, 2, 3]
(1, 2, 3)

### Descompactando tuplas

In [ ]:
# continuar
notas_do_semestre = (5.0, 10, 2)
prova_1, prova_2, projeto = notas_do_semestre

print(notas_do_semestre)
print(prova_1)
print(prova_2)
print(projeto)

prova_1 += 1

print(notas_do_semestre)
print(prova_1)
print(prova_2)
print(projeto)

(5.0, 10, 2)
5.0
10
2
(5.0, 10, 2)
6.0
10
2

### Zip: Compactando listas

In [ ]:
carros = ['Ônix', 'Gol', 'Uno']
precos = [50000, 30000, 20000]

print(carros)
print(precos)

['Ônix', 'Gol', 'Uno']
[50000, 30000, 20000]

In [ ]:
carros_com_precos_zip = zip(carros, precos)
carros_com_precos_zip

In [ ]:
carros_com_precos = list(carros_com_precos_zip)
carros_com_precos

[('Ônix', 50000), ('Gol', 30000), ('Uno', 20000)]

In [ ]:
for x in carros_com_precos:
    print(x)

('Ônix', 50000)
('Gol', 30000)
('Uno', 20000)

In [ ]:
for nome, preco in carros_com_precos:
    print(nome)
    print(preco)

Ônix
50000
Gol
30000
Uno
20000

In [ ]:
for nome, preco in zip(carros, precos):
    print(nome)
    print(preco)

Ônix
50000
Gol
30000
Uno
20000