<a href="https://colab.research.google.com/github/VivianeSouza923/PyRevive/blob/main/pratice_07_tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Essencial para Data Science**
**Prof. Dr. Samuel Martins (@hisamuka @xavecoding)** <br/>
xavecoding: https://youtube.com/c/xavecoding <br/><br/>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

## Tuplas
Tuplas são estruturas muito semelhantes às listas. Eles diferem de duas maneiras:

1. Elas usam _parênteses_ ao invés de _colchetes_:

In [1]:
tupla1 = (1, 2, 3, 4)
tupla1

(1, 2, 3, 4)

2. Elas **não** podem ser modificadas (**imutáveis**)

In [4]:
# posso printar por posição, como uma lista, mas não consigo modificar (vide célula abaixo)
tupla1[0]

1

In [5]:
tupla1[0] = 0

TypeError: 'tuple' object does not support item assignment

#### Convertendo uma lista em tuplas e vice-versa

In [9]:
lista1 = [0, 1, 1, 2, 5]
lista1_tupla = list(tupla1)
lista1_tupla
print(lista1_tupla)

[1, 2, 3, 4]

In [10]:
print(lista1_tupla)

[1, 2, 3, 4]

In [11]:
tupla1_lista = tuple(lista1)
tupla1_lista

(0, 1, 1, 2, 5)

In [12]:
print(tupla1_lista)

(0, 1, 1, 2, 5)

### Descompactando tuplas

In [13]:
tupla2 = ('a', 'b', 'c')
tupla2

('a', 'b', 'c')

In [14]:
a, b, c = tupla2

print(tupla2)
print(a)
print(b)
print(c)

('a', 'b', 'c')
a
b
c

### Zip: Compactando listas

In [34]:
lista2 = ['Alesi', 'Vivi', 'Thorin']
lista3 = [31, 27, 6]

lista_zipada = zip(lista2, lista3)

# não dá para imprimir um elemento zipado, digamos assim
lista_zipada

#qual a alternativa? - transformá-lo em um iterável, ou seja, lista, tupla...

In [35]:
tupla3 = tuple(lista_zipada)
tupla3

(('Alesi', 31), ('Vivi', 27), ('Thorin', 6))

In [39]:
for x in tupla3:
  print(x)

('Alesi', 31)
('Vivi', 27)
('Thorin', 6)

In [40]:
for x, y in tupla3:
  print(x)
  print(y)

Alesi
31
Vivi
27
Thorin
6

In [42]:
for x, y in zip(lista2, lista3):
  print(x)
  print(y)

Alesi
31
Vivi
27
Thorin
6